@font-face {
    font-family: 'GidoleRegular';
    src: url('../fonts/Gidole-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'KollektifItalic';
    src: url('../fonts/Kollektif-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Kollektif';
    src: url('../fonts/Kollektif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'KollktifBold';
    src: url('../fonts/Kollektif-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
