$black: #000;
$white: #fff;
$green: #609b5f;
$green-dark: #0c470f;
$orange: #ff8609;
$purple: #72096e;
$blue: #03989e;
$blue-dark: #004a98;
$red: #dd0e0e;
$cream: #f4edd7;

$font-primary: 'GidoleRegular';
$font-secondary: 'Kollektif';
